<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Paint</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
</head>
<body class="d-flex align-items-center border" style="height: 100vh;">
<div class="container border d-flex flex-column justify-content-center align-items-center">

<div class="h1 text-center">Welcome to share paint</div>
<a href="/graph"><button class="btn btn-primary">Get Started</button></a>

</div>
   
</body>
</html>