<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Paint</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" defer></script>
    <script src="js/app.js" defer></script>
    <script src="js/socket_client.js" defer></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #canvas {
            border: 1px solid black;
        }
        #eraser {
            width: 30px;
            height: 30px;
            display: none;
            border: 1px solid black;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <div id="eraser"></div>
</body>
</html>