<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Paint</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" defer></script>
    <script src="js/app.js" defer></script>
    <script src="js/socket_client.js" defer></script>
</head>
<body>
    <div id="color-palette"></div> 
    <canvas id="canvas"></canvas>
    <h1>Algorithm</h1>
    <textarea id="algo" rows="50"></textarea>
</body>
</html>