<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/lrstyle.css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="bg-info h-100 w-100">
    <div class="box">
      <h1 class="h2 text-center">Login</h1>
      <%- include ('./partials/messages') %>
      <form action="/users/login" method="POST">
        <p>E-Mail</p>
        <input type="text" name="email" placeholder="Enter E-Mail">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
      </form>
    </div>
  </div>


</body>

</html>