<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Paint</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" defer></script>
    <script src="js/app.js" defer></script>
    <script src="js/socket_events.js" defer></script>
    <script src="js/canvas.js" defer></script>
    <script src="js/chatroom.js" defer></script>
    <script src="https://use.fontawesome.com/24889142f2.js" defer></script>

    
</head>
<body class="d-flex flex-column justify-content-center align-items-center">
<script src="https://use.fontawesome.com/24889142f2.js"></script>
    <div class="position-absolute" style="top:0; right:0">
        <div class="d-flex">
            <p class="p-2">Hello, <span id="username"><%=user.name %></span></p>
            <p class="p-2"><a href="/users/logout"><button class="btn btn-primary">Logout</button></a></p>
        </div>
    </div>

    <div class="text-center mt-2">
        <p>
            <b>
                <i class="fa fa-users" aria-hidden="true" style="font-size: 25px;"></i>
            </b>&nbsp;
            <span>(Users in meeting)</span>
            <span id="total_connections"></span>
        </p>
    </div>

    <div class="container d-flex justify-content-center flex-row">
        <div class="tool tool-active p-2 m-1 pointer" onclick="changeTool('pencil'); addActiveClassToATool(this)">
             <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="tool p-2 m-1 pointer" onclick="changeTool('eraser'); addActiveClassToATool(this)">
            <i class="fa fa-eraser" aria-hidden="true"></i>
        </div>
        <!-- <div class="tool p-2 m-1 border border-secondary pointer" onclick="changeTool('array'); addActiveClassToATool(this)">Array</div> -->
        <div class="tool p-2 m-1 pointer" onclick="changeTool('text'); addActiveClassToATool(this)">
            <i class="fa fa-text-width" aria-hidden="true"></i>
        </div>
    </div> 

    <div class="container d-flex justify-content-center flex-row">
        <div class="func p-2 m-1 border border-secondary pointer" onclick="clearCanvas()">Clear canvas</div>
    </div>

    <div class="container d-flex justify-content-center flex-row">
        <div class="color color-active pointer" 
            style="background-color: red; border-radius: 50%;" 
            onclick="changeColor('red'); addActiveClassToAColor(this)">
        </div>
        <div class="color pointer" 
            style="background-color: blue; border-radius: 50%;" 
            onclick="changeColor('blue'); addActiveClassToAColor(this)">
        </div>
        <div class="color pointer" 
            style="background-color: green; border-radius: 50%;" 
            onclick="changeColor('green'); addActiveClassToAColor(this)">
        </div>
        <div class="color pointer" 
            style="background-color: purple; border-radius: 50%;" 
            onclick="changeColor('purple'); addActiveClassToAColor(this)">
        </div>
        <div class="color pointer" 
            style="background-color: black; border-radius: 50%;" 
            onclick="changeColor('black'); addActiveClassToAColor(this)">
        </div>
    </div> 

    <canvas id="canvas" class="border border-primary"></canvas>

    
    <!-- <textarea id="textArea" rows="30" class="p-2 border" placeholder="You can write any text here.">
    </textarea> -->

    <div id="chatroom">
        <div id="chats">
            <div class="message">
                <div class="user-name text-primary">Ritik Kaushik</div>
                <div class="msg">What are u doing bc??ghhghgjhghghj</div>
                <div class="d-flex justify-content-between mt-1">
                    <div class="date text-secondary">18 Dec 2020</div>
                    <div class="time text-secondary">11:28AM</div>
                </div>
            </div>
        </div>
        

        <div class="position-absolute w-100" style="bottom: 0px; height: 50px;">
            <input id="messageToSent" type="text" class="w-100 border p-2 h-100" placeholder="Type your message here...">
        </div>
    </div>

    <div onclick="toggleChatroom()" class="position-fixed pointer" style="bottom: 10px; right: 10px; font-size: 60px;">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
    </div>
</body>
</html>