<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Share Paint</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
</head>
<body class="d-flex align-items-center border" style="height: 100vh ;background-color: aliceblue;" > 
<div class="container d-flex flex-column justify-content-center align-items-center">
   

<div class="h1 text-center">Welcome to SHARE PAINT</div>
<!-- <a href="/paint"><button class="btn btn-primary">Get Started</button></a> -->
<a href="/users/login"><button class="btn btn-primary" style="margin: 10px;">Login</button></a><br><br>

<p>Don't have an Account?</p><a href="/users/register"><button class="btn btn-primary">Register</button></a>
</div>
   
</body>
</html>