*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color {
width: 30px;
height: 30px;
margin: 5px;
}

.color-active{
    border: 2px solid gold;
}

.tool-active {
    background-color: dodgerblue;
    color: white;
    border: 2px solid black;
}

.pointer{
    cursor: pointer;
}

#textArea {
 width: 400px;
 position: absolute;
 top: 0px;
 left: 0px;
 transform: translateX(-100%);
 transition: transform 200ms ease-in-out;   
}