#current_tool {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border: 1px solid black;
}



#algo {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    padding: 30px;
}